<!DOCTYPE html>


<html>

<head>
    <title>CSCI ECU</title>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>

</head>
<body>
    <div class="container">
        <h1 Unique fruits in basket_a and in basket_b></h1>
        {% if error %}
        <p class="error">{{error}}</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th Unique fruits in basket_a></th>
                        <th Unique fuits in basket_b></th>
                    </tr>
                </thead>
            </table>
        
    </div>
</body>

